@using MvcStok.Models.Entity
@model List<musteriler>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri Ad</th>
        <th>Müşteri Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var mst in Model)
        {
            <tr>
                <th>@mst.MUSTERIID</th>
                <td>@mst.MUSTERIAD</td>
                <td>@mst.MUSTERISOYAD</td>
                <td><a href="/MUSTERİ/SIL/@mst.MUSTERIID" class="btn btn-danger">Sil</a></td>
                <td><a href="/MUSTERI/GUNCELLE/@mst.MUSTERIID" class="btn btn-success">Güncelle</a></td>



            </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniKategori" class="btn btn-primary">Yeni Kategori Ekle</a>